.card {
  margin: 0 auto;
}

.col-md-8 {
  margin: 0 auto;
  padding: 10%;
}
.btn {
  width: 125px;
}
.btn:hover {
  color: black;
  width: 125px;
}
.container {
  width: 500px;
  height: 500px;
  margin-top: -80px;
}
.weatherimage {
  margin-left: 40%;
  margin-top: -30%;
  float: left;
  display: block;
}
.card {
  width: 586px;
  height: 550px;
  margin-left: -60px;
  -webkit-box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}
.imageicon {
  width: 64px;
  height: 56px;
  margin-left: 45%;
  padding-top: 5px;
}
